<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação do style -->
     <link rel="stylesheet" href="css/style.css">
    <!-- Importação das fontes -->

    <!-- Importação do BoxIcons > Para utilizar class='bx bx-<Icon> -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Importação do DevIcons > Para utilizar class="devicon-html5-plain colored" -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
     
    <title>Meu Portifolio</title>
</head>
<body>
    <!-- Menu de Apresentação -->
    <aside>
        <div id="usuarioIcon">
            <img src="" alt="UserIcon">
        </div>
        <h1 id="tituloCargo"> Desenvolvedor <span id="CargoSpan">FullStack</span></h1>
        <div id="resumo">
            <p></p>
        </div>
        <div id="redes-sociais">

        </div>
    </aside>
    <!-- Menu de Principal -->
    <main>
        <div id="descricao">

        </div>
        <div id="portifolio">

        </div>
    </main>
    
</body>
</html>