*{
    padding: 0;
    margin: 0;
}
body{
    background-color: oklch(98.5% 0.001 106.423);
}

/* Estilização do Head */
#head{
    height: 20dvh;
}
#head_user{
    display: flex;
    justify-content: space-around;
    gap: 60%;
    height: 50px;
    align-items: center; 
    padding-top: 20px;
    margin-bottom: 40px;
     
}
#button-ola{
    display: flex;
    align-items: center;
}

#head_button{
    width: 130px;
    height: 50px;
    border: 3px solid oklch(51.8% 0.253 323.949);
    border-radius: 30px;
    color: oklch(51.8% 0.253 323.949);
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 40px;
}
#head_button:hover{
    cursor: pointer;
    border: 3px solid oklch(74% 0.238 322.16);
    color: oklch(74% 0.238 322.16);
}

#head_icon i{
    font-size: 2.9em;
    color: rgb(0, 0, 0);
    
}
#head_icon a {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre ícone e texto */
    text-decoration: none;
  }

#head_icon a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#icon-text{
    font-size: 1.4em;
    font-family: 'Raleway';
    color: rgb(0, 0, 0);
}

/* Estilização do Main */
#title{
    opacity: 0;
    margin: 0px auto;
    width: 90dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 80dvh;
    transform: translateY(70px);
    transition: opacity 0.7s ease-in, transform 2.1s ease-in-out;  
}
#title.show{
    opacity: 1;
    transform: translateY(0px);
}

#main-title{
    font-family: 'Rubik';
    font-size: 4.1em;
    font-weight: 600;
    color: oklch(20.8% 0.042 265.755);
}

#CargoSpan{
    background: linear-gradient(90deg, oklch(66.7% 0.295 322.15), oklch(43.2% 0.232 292.759));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#description{
    font-family: 'Raleway';
    margin: 5px;
    font-size: 1.6em;
    color: oklch(44.6% 0.03 256.802);
}

#user-image img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 20px;
    border: 1px solid  black
}

#scroll{
    width: 9%;
    height: 10%;
    border: none;
    border-radius: 20px;
    color: oklch(62.7% 0.295 322.15);
    font-size: 4.5em;
    margin-top: 20px;
    background-color: white;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
#scroll:hover{
    color: oklch(51.8% 0.253 323.949);
    transform: translateY(0);
    cursor: pointer;
}

/* Tecnologias Utilizadas */
#tec-container{
    width: 90dvw;
    min-height: 500px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
     
}

#main-tec-tittle{
    font-family: 'Raleway';
    display: flex;
    font-size: 3.3em;
    color: #020617;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 20%;
    margin-top: 15px;
    text-transform: uppercase;
}

#tec-itens{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    margin: 5px;
    height: 80%;
}
#tec-itens i {
    font-size: 70px;
}
#tec-tittle{
    padding-left: 10px;
    margin: 10px;
    font-family: 'Raleway';
    width: 100%;
    color: oklch(20.8% 0.042 265.755);
}

#tec-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 7px 7px #94a3b8;
    gap: 10px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.7s ease-in, transform 1.2s ease-in-out; 
}

#tec-cards.show{
    opacity: 1;
    transform: translateX(0);
} 

/* Redes De Contato */
#redes-socias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d1d5db;
}
#redes-sociais h2{
    text-align: center;
    width: 100%;
    font-family: 'Raleway';
    font-size: 2.2em;
    color: #020617;
}
#direitos{
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 1.2em;
    color: #1e293b;
    margin-top: 15px;
    
}
#redes{
    text-decoration: none;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    flex-direction: row;
    transition: all 0.2s ease-in;
}
#redes a:hover{
    transform: scale(1.1);
}

/* Para dispositivos mobile */

@media (max-width: 500px) {
    #head{
        width: 100vw;
        height: 12vh;
        margin-bottom: 10px;
    }
    #head_user{
        height: 10vh;
        width: 100vw;
        display: flex;
        gap: 5px;
        
    }
    #head_button{
        width: 90px;
        height: 50px;
        font-size: 1.1em;
        text-align: center;
        line-height: 10px;
    }
    #head_icon i{
        font-size: 1.9em;
        color: rgb(0, 0, 0); 
    }
    #title{
        width: 95vw;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        
        height: 90dvh;
    }
    #main-title{
        text-align: center;
        font-size: 2em;
    }
    #description{
        text-align: center;
        font-size: 0.8em;
    }
    #user-image img{
        width: 90px;
        height: 90px;
    }
}
